<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-buttons end>
    <ion-button ><a [routerLink]="['/todos']" class="backbutton"><ion-icon name="arrow-back-outline" size="large"></ion-icon></a></ion-button>
      </ion-buttons>
      <ion-title>TODO #{{Id}}</ion-title>
  </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <div *ngIf="error$ | async as error">
      <h1 class="error-message"><ion-icon name="bug-outline" size="large"></ion-icon> {{ error }}</h1>
    </div>
    <ion-grid *ngIf="todoData$ | async as data; else elseBlock">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="10">
          <ion-card>
            <ion-card-content>
              <ion-list>
              <ion-item lines="none" class="{{data.completed ? 'donetaks' : 'pendingtask'}}">
                <ion-text >{{data.title}}</ion-text>
              </ion-item>
              <ion-item lines="none">
                <ion-text >Status: {{data.completed ? "Done" : "Pending"}}</ion-text>
              </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
    <ng-template #elseBlock>
      <ion-spinner size="large"></ion-spinner>
    </ng-template>
  </div>
</ion-content>
