<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-buttons end>
    <ion-button (click)="logout()"><ion-icon name="log-out" size="large"></ion-icon></ion-button>
      </ion-buttons>
    <ion-title>
      {{username}} TODOS
    </ion-title>
  </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-row>
        <ion-buttons end>
      <ion-button (click)="logout()"><ion-icon name="log-out" size="large"></ion-icon></ion-button>
        </ion-buttons>
      <ion-title>
        {{username}} TODOS
      </ion-title>
    </ion-row>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let todo of todos$ | async" >
      <a [routerLink]="['/todo',todo.id]" class="{{todo.completed ? 'donetaks' : 'pendingtask'}}">Task #{{todo.id}}</a>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
